
.navbar {
    width: 100%;
    background-color:darkorange;
    overflow:hidden;
  }
  
  .navbar a {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 20%; 
    text-align: center; 
    color:whitesmoke;
  }



body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin: 10px;
}
span{
    color: rgb(123, 185, 8);
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    color: black;
}


h3{
    color: orangered;
}
.half-width{
    width: 110%;
    padding-left: 60px;
    margin-bottom: 200px;
    padding-top: 80px;
}
.half-width img{
    width: 60%;
}

.link-button{
    text-decoration: none;
    background-color:rgba(255, 187, 0, 0.925);
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 50px;
}


.about-me{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.about-me img{
    width: 60%;
    padding-right: 400px;
    padding-bottom: 50px;
}

.top-image{
    background-image: url(images/shapes/top.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.recipies{
    text-align: center;
    margin-bottom: 100px;
}
.recipie-item{
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 200px;
    width: 20%;
    height: 5%;
    margin-left: 5%;
    margin-right: 4%;
    padding: 30px;
    border-radius: 30px;
}
.image{
    max-height:100%;
    max-width:100%;
}

.recipie-item{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}



.box-shadow{
    box-shadow: 1px 1px 30px gray;
    border-radius: 15px;
    width: 90%;
    height: 5%;
    margin-bottom: 200px;
    margin-left: 5%;
    margin-right: 4%;
}



.follower{
    text-align: center;
    margin-left: 5%;
    margin-right:5%;
    width: 30%;
}


footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color:gainsboro;
}



.price{
    text-align: center;
    margin-bottom: 100px;
}
.price-table{
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 200px;
    width: 20%;
    height: 5%;
    margin-left: 5%;
    margin-right: 4%;
    padding: 30px;
    border-radius: 30px;
}
.price-table{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}

p{
    color: rgb(12, 14, 180);
}